fetch-timeout=600000
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
fetch-retries=5
# Optionally, if you're behind a proxy or have network issues
# sharp_binary_host=https://npm.taobao.org/mirrors/sharp
# sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips
